<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Details</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Your Account Details</h1>

    <p><strong>Name: </strong><%= name %></p>
    <p><strong>Email: </strong><%= email %></p>
    <p><strong>Birthday: </strong><%= birthMonth %> - <%= birthDay %> - <%= birthYear %><p>
    <p><strong>Username: </strong><%= user %></p>
    <p><strong>Password: </strong><%= pass %></p>

</body>

</html>